@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
* {
  image-rendering: pixelated;
}

*,
:before,
:after {
  box-sizing: border-box;
}

body {
  --zoom: 1;
  --size: calc(20px * var(--zoom));
  margin: 0;
  padding: 0;
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-pixelated;
  image-rendering: pixelated;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: rgb(48, 44, 46);
  font-family: "VT323", monospace;
  letter-spacing: 2px;

  overflow: hidden;
}

input,
button {
  font-family: inherit;
}

.menu-buttons {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: auto;
  padding: 0.5rem;
  z-index: 1000;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  > * {
    margin: 0.25rem;
  }
}

.icon-button {
  width: 42px;
  height: 42px;
  background-image: url("../img/tiles/objects/tile-icon-button.png");
  background-size: 100%;
  background-color: transparent;
  border: none;
  color: rgba(255, 255, 255, 0.7);
  font-size: 120%;
  border-radius: 2px;
  position: relative;
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    z-index: 2;
    pointer-events: none;
  }

  &:hover {
    color: white;
  }

  &:hover:after {
    opacity: 0.1;
  }
}

.sidebar-inner {
  padding: 1rem;
  flex: 1;
  height: 100%;
  overflow: auto;

  > *:not(:nth-last-child(1)) {
    margin-bottom: 1rem;
  }
}

input,
textarea {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 10px;
}

input {
  font-family: "Open Sans", sans-serif;
  min-width: 0;
  width: 100%;
}

textarea {
  overflow: auto;
  height: 200px;
  resize: vertical;
  width: 100%;
}

// button {
//   padding: 0.5rem 1rem;
//   background-color: rgb(32, 106, 202);
//   color: white;
//   border: none;
//   border-radius: 100px;
//   overflow: visible;
// }

* {
  -webkit-user-drag: none;
}

.tile-container {
  display: flex;
  align-items: stretch;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.tilemap {
  flex: 1;
  overflow: auto;
  position: relative;
}

.sidebar {
  color: white;
  width: 300px;
  display: flex;
  flex-direction: column;
  z-index: 1000000000000;
  position: relative;

  background-color: #3d2a2a;

  .sidebar-button {
    position: absolute;
    left: 0;
    top: -20px;
    transform: translateX(calc(-100% - 20px));
    display: none;
  }

  &.is-left {
    .sidebar-button {
      left: auto;
      right: 0;
      transform: translateX(calc(100% + 20px));
    }
  }
}

@media screen and (max-width: 1000px) {
  .tilemap {
    // padding: 1rem 300px !important;
  }

  .tileset-sidebar.is-open + .tilemap-container {
    margin-left: 300px;
    width: calc(100vw - 300px);
  }

  .sidebar {
    --transform-out: 100%;
    transform: translateX(100%);
    transition: 0.25s ease;
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;

    &.is-left {
      transform: translateX(-100%);
      right: auto;
      left: 0;
    }

    .sidebar-button {
      display: block;
    }

    &.is-open {
      transform: translateX(0%);
    }
  }

  .tilemap-container {
    position: absolute !important;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    padding-left: 0;
    transition: 0.25s ease;
  }
}
h2 {
  text-align: center;
}

.tileset-sidebar {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: stretch;

  > .sidebar-inner {
    padding: 0;
    background-image: url("../img/tiles/export/tile-background.png");
    text-align: center;

    > .tileset {
      height: 100%;
      flex: 1;
    }
  }
}

.frame-border {
  border: 20px solid;
  border-image: url("../img/tiles/objects/frame.png") 45 / 20px / 0 round;
}

.tilemap-container {
  flex: 1;
  position: relative;
  overflow: hidden;
}

.tileset {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex: 1;
  > * {
    /* flex:1; */

    width: 50px;
    height: 50px;
    margin: 0.25rem;
    // cursor: pointer;
    transition: 0.25s ease;
    transform: scale(1);
    background-image: var(--tile);
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotate(calc(var(--tiles-rotation) * 90deg))
      scale(var(--tiles-flip-x), var(--tiles-flip-y));
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);

    &.is-active,
    &:hover {
      border-radius: 1px;
      box-shadow: 0 0 0 2px white;
      // --scale: 1.05;
    }
  }
}

.input-container {
  display: flex;
  column-gap: 1rem;
  > * {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 0;

    > :not(:nth-last-child(1)) {
      margin-bottom: 0.5rem;
    }
  }
}

.button {
  height: 42px;
  padding: 0 1rem;
  background-size: 100% 100%;
  min-width: 128px;
  width: 100%;
  background-color: transparent;
  border: 0px solid transparent;
  color: white;
  background-image: url("../img/tiles/objects/tile-button.png");
  position: relative;
  font-size: 150%;
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    z-index: 2;
    pointer-events: none;
  }

  &:hover:after {
    opacity: 0.1;
  }
}

.tilemap {
  padding: 1rem;
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: auto;
  height: 100%;
}

.tile-row {
  display: flex;
  align-items: center;

  position: relative;
  z-index: 2;
}

.tile-col {
  flex: 1;
  /* border:1px solid rgba(255,255,255, 1); */
  box-shadow: 0 0 0 1px rgba(150, 150, 150, 0.1);
  width: var(--size);
  height: var(--size);
  transform: scale(1);
  // transition: 0.25s ease;
  // cursor: pointer;

  background-image: var(--tile);
  transform: rotate(calc(var(--rotation) * 90deg));
  background-position: center;
  background-size: contain;

  &:hover {
    // transform: scale(1.05);
  }
}

.tile-col > img {
  width: 100%;
  height: 100%;
}

// tiles
.tiles {
  position: absolute;
  top: 0;
  left: 0;
  margin: 1rem;
  width: calc(var(--map-width) * var(--size));
  height: calc(var(--map-height) * var(--size));
  pointer-events: none;
  background-size: calc(var(--size) * 2) calc(var(--size) * 2);
  background-image: url("../img/tiles/export/tile-background.png");

  > * {
    // pointer-events: all;
  }
}

.tile {
  position: absolute;
  --offset-x: 0;
  --offset-y: 0;
  --flip-x: 1;
  --flip-y: 1;
  top: calc((var(--y) + var(--offset-x)) * var(--size));
  left: calc((var(--x) + var(--offset-y)) * var(--size));
  width: calc(var(--width) * var(--size));
  height: calc(var(--height) * var(--size));
  background-image: var(--tile);
  transform: rotate(calc(var(--rotation) * 90deg))
    scale(var(--flip-x), var(--flip-y));
  background-size: contain;
  // background-size: calc(100% + 2px) calc(100% + 2px);
  background-position: center;
  background-repeat: no-repeat;

  &.is-ghost {
    opacity: 0.5;
    pointer-events: none;
  }
}

.erase-mode {
  --rotate: 307deg;
  #eraser {
    box-shadow: 0 0 0 2px white;
    color: white;
  }

  .tiles .tile:hover {
    filter: sepia(1) hue-rotate(200deg);
  }
}

.drop-mode {
  --rotate: 208deg;
  #drop-tool {
    box-shadow: 0 0 0 2px white;
    color: white;
  }
}

.erase-mode,
.drop-mode {
  .tiles {
    z-index: 10;
    pointer-events: all;

    .tile:hover {
      opacity: 0.8;
      filter: contrast(0.2) brightness(0.7) sepia(1) saturate(3)
        hue-rotate(var(--rotate));
    }
  }
}
